{% extends 'base.html.twig' %}

{% block title %}CategoryUpdate{% endblock %}

{% block body %}
    <h1>category change</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.posts) }}

    <button type="submit" class="btn">Submit</button>
    {{ form_end(form) }}
{% endblock %}
